/* Color Theme Swatches in Hex */
.color-theme_paleta-1-hex { color: #142B40; }
.color-theme_paleta-2-hex { color: #314759; }
.color-theme_paleta-3-hex { color: #859CA6; }
.color-theme_paleta-4-hex { color: #F2E4DF; }
.color-theme_paleta-5-hex { color: #D9A59A; }
