body, ul, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main {
    box-sizing: border-box;
    flex: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 5px;    
}

.row-btn {
    display: block;
    text-align: center; 
       
}

input {       
    border: 1px solid #232484;
    border-radius: 4px;
    
}

input:focus {
    background-color: #eee;
    
}

#pesquisar {
    box-sizing: border-box;    
    background-repeat: no-repeat;        
    font-size: 16px;
    padding: .5rem 40px; 
          
}

.input-form {
    box-sizing: border-box;
    padding: .5rem;
    width: 25%;
    margin: .5rem;
}

.form {
    display: 100%;    
    margin: auto;
    margin-top: 5vh;
    font-family: sans-serif;
    color: #232484;
          
}

a {
    text-decoration: none;
    font-family: sans-serif;
    color: #232484;     
    padding: .5rem 1rem;
    font-size: 13px; 
}


.btn-acessar, .btn-voltar {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    border-radius: 5px;  
    padding: 16px 32px;    
    background-color: #232484; 
    text-align: center;
    cursor: pointer;
    border: none;
    font-weight: bold;
    margin: 20px; 
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 14px;
    font-style: italic;
}

#logo:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
    font-weight: bold;         
}

.btn:hover {
    background-color: #e00b13;
    
}

header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 70px;
    padding: .5rem;
    justify-content: space-between;
    background: white;  
    position: sticky; 
    top: 0;
    width: 70%;  
    margin: auto;  
}

#nav {
    width: 100%;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
    padding: .5rem;
    align-items: center;
}

#menu a {
    display: block;
    padding: .4rem;    
    width: 90px;
    text-align: center;
        
}


#btn-mobile {
    display: none;
}

.row-main {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 10px auto; 
       
}

.fakeimg {
    display: block;
    background-image: url("/img/carrocel-1080p.jpg");
    background-position: center;    
    background-repeat: no-repeat;
    background-color: #cccccc;
    max-width: 100%;
    width: 70%; 
    margin-left: auto;      
    margin-right: auto;
    height: 200px;      
}

.fakeimg-main {
    box-sizing: border-box;
    background-color: rgb(216, 216, 216);
    width: 100%;
    padding: 20px;
    height: 100vh;    
}

.fakeimg-side {
    box-sizing: border-box;
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    height: 100vh;    
}


#logo {    
    height: 100%;
    width: 150px;
    padding: 0; 
    margin: 0;  
}

@media (max-width: 600px) {

    .fakeimg {        
        display: none;       
    }
}

@media (max-width: 920px){   

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: white;;
        z-index: 1000;
        transition: .6s;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;   
        
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu li a:hover {
        border-bottom: 1px solid #232484;
        border-top: 1px solid #232484;
        width: 70%;
    }

    
    #menu a {
        padding: 1rem;
        margin: auto;        
        width: calc(100% - 3.9rem);          
              
    }

    #pesquisar {        
        padding: .7rem;        
        margin: 0 1rem 1rem 1rem;
        width: calc(100% - 3.3rem);        
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        color: #232484;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid;

    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    #logo {
        font-size: 1rem;
        font-weight: bold;    
        
    }  
    
    .row-main {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
            
    }

    header {        
        width: 95%;  
         
    }
    
    .fakeimg {        
        width: 95%;       
    }
}



